<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/styles.css">
    <link href=/favicon.ico rel="shortcut icon" type=image/x-icon>
    <style>
        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            height: 100%;
            background: #f8f8f8;
            font-family: sans-serif;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 10vh;
        }

        .title {
            font-size: 60px;
        }

        main {
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .graphs-title {
            margin: 30px auto;
        }

        #graphs-container {
            height: 70%;
            width: 90%;
        }
    </style>
    <title>Solar panel watch | <%= __('Graph')%></title>
  </head>
  <body>
    <header>
      <h2 class="title">Solar panel watch</h2>
    </header>
    <main>
      <h2 class="graphs-title"><%= __('Graph')%></h2>
      <div id="graphs-container">

      </div>
    </main>
    <script src="/assets/plotly.js"></script>
    <script>
        const loadData = () => {
            let firstTrace;
            let secondTrace;
            
            const plotly = (firstTrace, secondTrace) =>{
                const layout = {
                title: '<%= __("Power over time")%>',
                };
                return Plotly.newPlot('graphs-container', [firstTrace, secondTrace], layout);
            }

            const fetchData = () =>{
                firstTrace = fetch('/api/data/power/power1/<%= period%>')
                .then(response => response.json())
                .then(data => {
                    const unpackData = (arr, key) => {
                    return arr.map(obj => obj[key])
                    }
                    const traceData = {
                    type: 'scatter',
                    mode: 'lines',
                    name: '<%= __("House consumption")%>',
                    x: unpackData(data, '_time'),
                    y: unpackData(data, '_value'),
                    line: {color: '#c0392b'}
                    }   
                    return traceData      
                }).catch((error) => {
                    console.error('Error:', error);
                });

                secondTrace = fetch('/api/data/power/power2/<%= period%>')
                .then(response => response.json())
                .then(data => {
                    const unpackData = (arr, key) => {
                    return arr.map(obj => obj[key])
                    }
                    const traceData = {
                    type: 'scatter',
                    mode: 'lines',
                    name: '<%= __("Solar panel production")%>',
                    x: unpackData(data, '_time'),
                    y: unpackData(data, '_value'),
                    line: {color: '#2ecc71'}
                    } 
                    return traceData        
                }).catch((error) => {
                    console.error('Error:', error);
                });
                return [firstTrace, secondTrace]
            }

            [firstTrace, secondTrace] = fetchData()
            
            Promise.all([firstTrace, secondTrace]).then((values) => {
                plotly(values[0], values[1])
            });   
        }
        window.addEventListener('load', loadData);
    </script>
  </body>
</html>