<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/assets/styles.css">
  <link href=/favicon.ico rel="shortcut icon" type=image/x-icon>
  <title>Solar Panel Watch</title>
  <link rel=manifest href=/assets/manifest.json>
  <% if(!error){ %>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
    }
    .column {
      float: left;
      width: 50%;
      padding: 0 10px;
      margin-bottom: 15px;
    }
    .row {margin: 0 -5px;}
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
    .card ul {
      list-style-type: none;
    }
  </style>
  <% } %>
</head>
<body>
  <h2>Solar Panel Watch</h2>
  <% if(error){ %>
    <p><%= __('Error first page')%></p>
  <% } else{ %>
  <div class="row">
    <div class="column">
      <div class="card" id="house-consumption-card" style="background-color:<% if(power1<0){ %>#badc58<% } else{ %>#fab1a0<% } %>;">
        <h3><span id="house-consumption"><%= Math.ceil(power1*100)/100 %></span> W</h3>
        <p><%= __('House consumption')%></p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3><span id="solar-panel-production"><%= Math.ceil(power2*100)/100 %></span> W</h3>
        <p><%= __('Solar panel production')%></p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3><span id="total-production"><%= Math.ceil((power1 + power2)*100)/100 %></span> W</h3>
        <p><%= __('Total Power')%></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <ul>
          <li><a href="/graph/power/2h/"><%= __('Raw data 2h')%></a></li>
          <li><a href="/graph/power/1d/"><%= __('Raw data 1d')%></a></li>
          <li><a  href="/graph/power/1d/group-by/5m"><%= __('Mean data 1d')%></a></li>
          <li><a  href="/graph/power/1w/group-by/15m"><%= __('Mean data 1w')%></a></li>
          <li><a  href="/energy/3d"><%= __('Energy')%></a></li>
          <li><a  href="/energy-hist/"><%= __('Energy request history')%></a></li>
          <li><a  href="/activation-hist/"><%= __('Activation history')%></a></li>
          <li><a  href="/graph/power/1d/activation-hist-plot/"><%= __('Activation history plot')%></a></li>
        </ul>
      </div>
    </div>
  </div>
  <% } %>
  <% if(!error){ %>
  <script>
    
    const houseConsumptionEl = document.getElementById('house-consumption');
    const houseConsumptionCard = document.getElementById('house-consumption-card');
    const solarPanelProductionEl = document.getElementById('solar-panel-production');
    const totalPowerEl = document.getElementById('total-production');

    function request_data(cb) {
      let url = '/api/data';
      fetch(url)
      .then(function(res) { return res.json() })
      .then(function(out) { cb(null, out) })
      .catch(function(err) { console.error(err); cb(err)});
    }

    function update_labels() {
      request_data(function(err, data) {
        houseConsumptionEl.textContent = Math.ceil(data.power1*100)/100;
        solarPanelProductionEl.textContent = Math.ceil(data.power2*100)/100;
        totalPowerEl.textContent = Math.ceil((data.power1 + data.power2)*100)/100;
        if (data.power1 < 0) {
            houseConsumptionCard.style.background = "#badc58";
        } else {
            houseConsumptionCard.style.background = "#fab1a0";
        }
          
      });
    }
    let interval = setInterval(update_labels, 10000);
    document.addEventListener('visibilitychange', function() {
        if(document.hidden) {
          clearInterval(interval);
        } else {
          update_labels();
          interval = setInterval(update_labels, 10000);
        }
    });
    
  </script>
  <% } %>
</body>
</html>